**/tentative*
recipes/recipes_emscripten/tentative*
testing/__pycache__/
**/__pycache__
sandbox
.ipynb_checkpoints/
Untitled.ipynb
.DS_Store

# pixi folder
.pixi/
pixi.lock

# rattler-build output folder
output/

# emscripten forge install
emscripten_forge_emsdk_install/
