name: build simple
on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:

  build_simple:
    runs-on: ubuntu-latest
    env:
      TARGET_PLATFORM: emscripten-32
      GITHUB_OWNER: "emscripten-forge"
    strategy:
      fail-fast: false
      matrix:
        emsdk_ver: ["3.1.27"]

    steps:

      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      ################################################################
      # CONFIG
      ################################################################
      - name: global config
        shell: bash -l {0}
        run: |
          git config --global advice.detachedHead false
          cp $GITHUB_WORKSPACE/.github/workflows/.condarc $HOME
          cp $GITHUB_WORKSPACE/conda_build_config.yaml $HOME

      ################################################################
      # MAMBA
      ################################################################
      - name: install mamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: ci_env.yml
          environment-name: ci-env
          micromamba-version: '0.23.2'

      ################################################################
      # POST ENV INSTALL CONFIG
      ################################################################
      - name: post env install config
        shell: bash -l {0}
        run: |
          mkdir -p $HOME/micromamba-root/envs/ci-env/conda-bld/emscripten-32
          mkdir -p $HOME/packed

          cp $GITHUB_WORKSPACE/.github/workflows/.condarc_post $HOME/.condarc
          micromamba activate ci-env
          playwright install

      ################################################################
      # install / clone custom non-master things
      # for pip, we use --no-deps --ignore-installed
      # and make sure that all dependencies are already contained
      # in the conda env named "ci-env"
      ################################################################
      - name: "install custom non-master dependencies"
        shell: bash -l {0}
        run: |
          micromamba activate ci-env
          python -m pip install git+https://github.com/DerThorsten/boa.git@python_api             --no-deps --ignore-installed
          python -m pip install git+https://github.com/emscripten-forge/pyjs-code-runner.git     --no-deps --ignore-installed

      - name: "setup emsdk"
        shell: bash -l {0}
        run: |
          micromamba activate ci-env
          python -c "from empack.file_packager import download_and_setup_emsdk; download_and_setup_emsdk('3.1.27')"
          echo $(python -c "from empack.file_packager import EMSDK_INSTALL_PATH; print(EMSDK_INSTALL_PATH / 'emsdk-3.1.27')") > $HOME/.emsdkdir

      ################################################################
      # build a simple package
      ################################################################
      - name: "build package"
        shell: bash -l {0}
        run: |
          micromamba activate ci-env
          cd ${GITHUB_WORKSPACE}
          python builder.py build explicit  $GITHUB_WORKSPACE/recipes/recipes_emscripten/regex  --emscripten-32 --skip-tests


    