name: build recipes
on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:

jobs:

  build_recipes:
    runs-on: ubuntu-latest
    env:
      TARGET_PLATFORM: emscripten-32
      GITHUB_OWNER: "emscripten-forge"
    strategy:
      fail-fast: false
      matrix:
        emsdk_ver: ["3.1.2"]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}


      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0



      - name: Maximize build space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      ################################################################
      # timestamp
      ################################################################
      - name: generate cache timestamp
        id: cache_timestamp
        shell: bash -l {0}
        run: echo ::set-output name=timestamp::"$(TZ=UTC date +%F)"

      ################################################################
      # CONFIG
      ################################################################
      - name: global config
        shell: bash -l {0}
        run: |
          git config --global advice.detachedHead false
          cp $GITHUB_WORKSPACE/.github/workflows/.condarc $HOME
          cp $GITHUB_WORKSPACE/conda_build_config.yaml $HOME

      ################################################################
      # MAMBA
      ################################################################
      - name: install mamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: ci_env.yml
          environment-name: ci-env
          micromamba-version: '0.23.2'

      ################################################################
      # POST ENV INSTALL CONFIG
      ################################################################
      - name: post env install config
        shell: bash -l {0}
        run: |
          mkdir -p $HOME/micromamba-root/envs/ci-env/conda-bld/emscripten-32
          mkdir -p $HOME/packed

          cp $GITHUB_WORKSPACE/.github/workflows/.condarc_post $HOME/.condarc
          micromamba activate ci-env
          playwright install


      ################################################################
      # Setup emsdk
      ################################################################
      - name: install emsdk
        shell: bash -l {0}
        run: |
          micromamba activate ci-env
          emsdk install ${{matrix.emsdk_ver}}

      ################################################################
      # install / clone custom non-master things
      # for pip, we use --no-deps --ignore-installed
      # and make sure that all dependencies are already contained
      # in the conda env named "ci-env"
      ################################################################
      - name: "install custom non-master dependencies"
        shell: bash -l {0}
        run: |
          micromamba activate ci-env
          python -m pip install git+https://github.com/emscripten-forge/empack@main              --no-deps --ignore-installed
          python -m pip install git+https://github.com/DerThorsten/boa.git@postcb                --no-deps --ignore-installed
          python -m pip install git+https://github.com/DerThorsten/bitfurnace.git@emscripten_new --no-deps --ignore-installed


      ################################################################
      # run pytests 
      ################################################################
      - name: "test config files"
        shell: bash -l {0}
        run: |
          micromamba activate ci-env
          cd testing
          pytest 

      ################################################################
      # build recipes with changes PUSH
      ################################################################
      - name: "build packages push"
        shell: bash -l {0}
        if: github.event_name == 'push'
        run: |
          micromamba activate ci-env
          cd ${GITHUB_WORKSPACE}
          emsdk activate ${{matrix.emsdk_ver}}
          export CONDA_EMSDK_DIR="/home/runner/micromamba-root/envs/ci-env/lib/python3.10/site-packages/emsdk"
          export FILE_PACKAGER="$CONDA_EMSDK_DIR/upstream/emscripten/tools/file_packager.py"
          source $CONDA_EMSDK_DIR/emsdk_env.sh
          python builder.py build changed $GITHUB_WORKSPACE/ origin/main~1 origin/main 
      ################################################################
      # build ALL recipes
      ################################################################
      - name: "build packages workflow_dispatch"
        shell: bash -l {0}
        if: github.event_name == 'workflow_dispatch'
        run: |
          micromamba activate ci-env
          cd ${GITHUB_WORKSPACE}
          emsdk activate ${{matrix.emsdk_ver}}
          export CONDA_EMSDK_DIR="/home/runner/micromamba-root/envs/ci-env/lib/python3.10/site-packages/emsdk"
          export FILE_PACKAGER="$CONDA_EMSDK_DIR/upstream/emscripten/tools/file_packager.py"
          source $CONDA_EMSDK_DIR/emsdk_env.sh
          python builder.py build directory  $GITHUB_WORKSPACE/recipes/recipes             --skip-tests   
          python builder.py build directory  $GITHUB_WORKSPACE/recipes/recipes_emscripten  --emscripten-32 --skip-tests


      ################################################################
      # build recipes with changes PULL_REQUEST
      ################################################################
      - name: "build packages pull_request"
        shell: bash -l {0}
        if: github.event_name == 'pull_request'
        run: |
          micromamba activate ci-env
          cd ${GITHUB_WORKSPACE}
          emsdk activate ${{matrix.emsdk_ver}}
          python builder.py build changed  $GITHUB_WORKSPACE/ origin/main HEAD  
        env:
          CONDA_EMSDK_DIR: /home/runner/micromamba-root/envs/ci-env/lib/python3.10/site-packages/emsdk

      ################################################################
      # github upload emscripten packed pkgs
      ################################################################
      - uses: actions/upload-artifact@v2
        if: github.event_name == 'push'
        with:
          name: emscripten_packed_pkgs
          path: ~/packed/* # or path/to/artifact\

      ################################################################
      # github upload emscripten packed pkgs
      ################################################################
      - uses: actions/upload-artifact@v2
        if: github.event_name == 'workflow_dispatch'
        with:
          name: emscripten_packed_pkgs
          path: ~/packed/* # or path/to/artifact\


      ################################################################
      # quetz upload packages
      ################################################################
      - name: "quetz upload packages"
        if: github.event_name == 'push'
        shell: bash -l {0}
        run: |
          QUETZ_API_KEY=${{ secrets.QUETZ_API_KEY}} quetz-client https://beta.mamba.pm/channels/emscripten-forge ${CONDA_PREFIX}/conda-bld/emscripten-32/*.tar.bz2 || true
          QUETZ_API_KEY=${{ secrets.QUETZ_API_KEY}} quetz-client https://beta.mamba.pm/channels/emscripten-forge ${CONDA_PREFIX}/conda-bld/linux-64/*.tar.bz2      || true
          QUETZ_API_KEY=${{ secrets.QUETZ_API_KEY}} quetz-client https://beta.mamba.pm/channels/emscripten-forge ${CONDA_PREFIX}/conda-bld/noarch/*.tar.bz2        || true

