name: CI
on: [push]






jobs:

  build_minimal:
    runs-on: ubuntu-latest
    env:
      TARGET_PLATFORM: emscripten-32
      GITHUB_OWNER: "emscripten-forge"
      CONDA_EMSDK_DIR: /src/emsdk
    strategy:
      fail-fast: false
      matrix:
        emsdk_ver: ["3.1.2"]

    steps:
      - uses: actions/checkout@v2


      ################################################################
      # timestamp
      ################################################################
      - name: generate cache timestamp
        id: cache_timestamp
        shell: bash -l {0}
        run: echo ::set-output name=timestamp::"$(TZ=UTC date +%F)"


      ################################################################
      # CONFIG
      ################################################################
      - name: global config
        shell: bash -l {0}
        run: |
          git config --global advice.detachedHead false
          cp $GITHUB_WORKSPACE/.github/workflows/.condarc $HOME
          cp $GITHUB_WORKSPACE/conda_build_config.yaml $HOME
          mkdir -p $HOME/src/emsdk

      ################################################################
      # MAMBA
      ################################################################
      - name: install mamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: ci_env.yml
          environment-name: ci-env

      ################################################################
      # POST ENV INSTALL CONFIG
      ################################################################
      - name: post env install config
        shell: bash -l {0}
        run: |
          mkdir -p $HOME/micromamba/envs/ci-env/conda-bld/emscripten-32
          cp $GITHUB_WORKSPACE/.github/workflows/.condarc_post $HOME/.condarc

      ################################################################
      # Pull packages
      ################################################################
      - name: pull already uploaded packages
        shell: bash -l {0}
        run: |
          python ./pull_packages.py ${{ env.GITHUB_OWNER }} ${{ env.TARGET_PLATFORM }} ${CONDA_PREFIX} ${{ secrets.GITHUB_TOKEN }}


      ################################################################
      # EMSCRIPTEN ITSELF
      ################################################################
      - name: install emsdk
        shell: bash -l {0}
        run: |
          git clone https://github.com/emscripten-core/emsdk.git $HOME/src/emsdk
          pushd $HOME/src/emsdk
          ./emsdk install ${{matrix.emsdk_ver}}
          popd

      ################################################################
      # install / clone custom non-master things
      ################################################################   
      - name: "install custom non-master dependencies"
        shell: bash -l {0}
        run: |
          micromamba activate ci-env
          python -m pip install git+https://github.com/emscripten-forge/emboa
          python -m pip install git+https://github.com/DerThorsten/boa.git@emscripten_monkeypatch
          python -m pip install git+https://github.com/DerThorsten/bitfurnace.git@emscripten_new
          



      ################################################################
      # build things
      ################################################################   
      - name: "build things"
        shell: bash -l {0}
        run: |
          export CONDA_EMSDK_DIR=$HOME/src/emsdk
          micromamba activate ci-env
          boa build  $GITHUB_WORKSPACE/recipes/emscripten_emscripten-32 --skip-existing
          boa build  $GITHUB_WORKSPACE/recipes/bitfurnace               --skip-existing
          boa build  $GITHUB_WORKSPACE/recipes/zlib                     --skip-existing --target-platform=emscripten-32 
          boa build  $GITHUB_WORKSPACE/recipes/sqlite                   --skip-existing --target-platform=emscripten-32 

      ################################################################
      # upload packages
      ################################################################   

      - uses: actions/upload-artifact@v2
        with:
          name: micromamba_pkgs
          path: ~/micromamba/envs/ci-env/conda-bld/**/*.tar.bz2 # or path/to/artifact

      - name: create_oras_push
        shell: bash -l {0}
        run: |
          python ./upload_packages.py ${{ env.GITHUB_OWNER }} ${{ env.TARGET_PLATFORM }} ${CONDA_PREFIX} ${{ secrets.GITHUB_TOKEN }}
        if: always()


      ################################################################
      # create env from above build packages
      ################################################################  
      - name: "build things"
        shell: bash -l {0}
        run: |
          micromamba create -n emtest  --platform=emscripten-32 zlib sqlite
