name: build all
on:
  schedule:
    - cron: "0 14 * * *"
  workflow_dispatch:
jobs:

  build_all:
    runs-on: ubuntu-latest
    env:
      TARGET_PLATFORM: emscripten-wasm32
      GITHUB_OWNER: "emscripten-forge"
    strategy:
      fail-fast: false
      matrix:
        emsdk_ver: ["3.1.45"]

    steps:

      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: delete fortran...
        run: |
          sudo apt-get remove gfortran -y

      ################################################################
      # CONFIG
      ################################################################
      - name: global config
        shell: bash -el {0}
        run: |
          git config --global advice.detachedHead false
          cp $GITHUB_WORKSPACE/.github/workflows/.condarc $HOME/.condarc
          cp $GITHUB_WORKSPACE/conda_build_config.yaml $HOME

      ################################################################
      # MAMBA
      ################################################################
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ci_env.yml
          environment-name: ci
          init-shell: >-
            bash
          cache-environment: true
          post-cleanup: 'all'

      ################################################################
      # POST ENV INSTALL CONFIG
      ################################################################
      - name: post env install config
        shell: bash -el {0}
        run: |
          cp $GITHUB_WORKSPACE/.github/workflows/.condarc $HOME/.condarc
          playwright install

      ################################################################
      # setup emsdk
      ################################################################
      - name: "setup emsdk"
        shell: bash -el {0}
        run: |
          ./emsdk/setup_emsdk.sh   ${{ matrix.emsdk_ver }} $(pwd)/emsdk  



      ################################################################
      # install / clone custom non-master things
      # for pip, we use --no-deps --ignore-installed
      # and make sure that all dependencies are already contained
      # in the conda env named "ci-env"
      ################################################################
      - name: "install custom non-master dependencies"
        shell: bash -el {0}
        run: |
          micromamba activate ci-env
          python -m pip install git+https://github.com/DerThorsten/boa.git@python_api_v2             --no-deps --ignore-installed


      ################################################################
      # build ALL recipes
      ################################################################
      - name: "build packages workflow_dispatch"
        shell: bash -el {0}
        run: |
          cd ${GITHUB_WORKSPACE}
          python builder.py build directory  $GITHUB_WORKSPACE/recipes/recipes             --skip-tests
          python builder.py build directory  $GITHUB_WORKSPACE/recipes/recipes_emscripten  --emscripten-wasm32
