name: CI
on: [push]






jobs:

  build_minimal:
    runs-on: ubuntu-latest
    env:
      CONDA_EMSDK_DIR: /src/emsdk
    strategy:
      fail-fast: false
      matrix:
        emsdk_ver: ["3.1.2"]

    steps:
      - uses: actions/checkout@v2

      ################################################################
      # CONFIG
      ################################################################
      - name: global config
        shell: bash -l {0}
        run: |
          git config --global advice.detachedHead false
          cp $GITHUB_WORKSPACE/.github/workflows/.condarc $HOME
          cp $GITHUB_WORKSPACE/conda_build_config.yaml $HOME
          mkdir -p $HOME/src/emsdk

      ################################################################
      # EMSCRIPTEN ITSELF
      ################################################################
      - name: install emsdk
        shell: bash -l {0}
        run: |
          git clone https://github.com/emscripten-core/emsdk.git $HOME/src/emsdk
          pushd $HOME/src/emsdk
          ./emsdk install ${{matrix.emsdk_ver}}
          popd

      ################################################################
      # MAMBA
      ################################################################
      - name: install mamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: .github/workflows/ci_env.yml
          environment-name: ci-env

      ################################################################
      # POST ENV INSTALL CONFIG
      ################################################################
      - name: posst env install config
        shell: bash -l {0}
        run: |
          cp $GITHUB_WORKSPACE/.github/workflows/.condarc_post $HOME/.condarc

      ################################################################
      # install / clone custom non-master things
      ################################################################   
      - name: "install custom non-master dependencies"
        shell: bash -l {0}
        run: |
          micromamba activate ci-env
          python -m pip install git+https://github.com/emscripten-forge/emboa
          python -m pip install git+https://github.com/DerThorsten/conda-build.git@emscripten
          python -m pip install git+https://github.com/DerThorsten/conda.git@emscripten
          python -m pip install git+https://github.com/DerThorsten/boa.git@emscripten
          python -m pip install git+https://github.com/DerThorsten/bitfurnace.git@emscripten_new



      ################################################################
      # build things
      ################################################################   
      - name: "build things"
        shell: bash -l {0}
        run: |
          export CONDA_EMSDK_DIR=$HOME/src/emsdk
          micromamba activate ci-env
          boa build  $GITHUB_WORKSPACE/recipes/emscripten_emscripten-32 
          boa build  $GITHUB_WORKSPACE/recipes/bitfurnace
          boa build  $GITHUB_WORKSPACE/recipes/zlib       --target-platform=emscripten-32
          boa build  $GITHUB_WORKSPACE/recipes/sqlite     --target-platform=emscripten-32



      ################################################################
      # create env from above build packages
      ################################################################  
      - name: "build things"
        shell: bash -l {0}
        run: |
          micromamba create -n emtest  --platform=emscripten-32 zlib sqlite
