name: build simple
on:
  push:
    branches:
      - 'main'
  pull_request:
  schedule:
    - cron: "0 13 * * 1"
jobs:

  build_simple:
    runs-on: ubuntu-latest
    env:
      TARGET_PLATFORM: emscripten-wasm32
      GITHUB_OWNER: "emscripten-forge"
    strategy:
      fail-fast: false
      matrix:
        emsdk_ver: ["3.1.27"]

    steps:

      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      ################################################################
      # CONFIG
      ################################################################
      - name: global config
        shell: bash -l {0}
        run: |
          git config --global advice.detachedHead false
          cp $GITHUB_WORKSPACE/.github/workflows/.condarc $HOME/.condarc
          cp $GITHUB_WORKSPACE/conda_build_config.yaml $HOME

      ################################################################
      # MAMBA
      ################################################################
      - name: install mamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: ci_env.yml
          environment-name: ci-env
          micromamba-version: '0.23.2'

      ################################################################
      # POST ENV INSTALL CONFIG
      ################################################################
      - name: post env install config
        shell: bash -l {0}
        run: |
          cp $GITHUB_WORKSPACE/.github/workflows/.condarc $HOME/.condarc
          micromamba activate ci-env
          playwright install

      ################################################################
      # setup emsdk
      ################################################################
      - name: "setup emsdk"
        shell: bash -l {0}
        run: |
          micromamba activate ci-env

          git clone https://github.com/emscripten-core/emsdk.git
          cd emsdk 
          ./emsdk install  ${{ matrix.emsdk_ver }}
          ./emsdk activate  ${{ matrix.emsdk_ver }}
          echo $(pwd)/emsdk-${{ matrix.emsdk_ver }}
          echo $(pwd) > $HOME/.emsdkdir

      ################################################################
      # install / clone custom non-master things
      # for pip, we use --no-deps --ignore-installed
      # and make sure that all dependencies are already contained
      # in the conda env named "ci-env"
      ################################################################
      - name: "install custom non-master dependencies"
        shell: bash -l {0}
        run: |
          micromamba activate ci-env
          python -m pip install git+https://github.com/DerThorsten/boa.git@python_api             --no-deps --ignore-installed


      ################################################################
      # build a package which is **not** on emscripten forge
      ################################################################
      - name: "build package"
        shell: bash -l {0}
        run: |
          micromamba activate ci-env
          cd ${GITHUB_WORKSPACE}
          python builder.py build explicit $GITHUB_WORKSPACE/testing/test_recipes/only_py_tests  --emscripten-wasm32

      ################################################################
      # build a simple package
      ################################################################
      - name: "build package"
        shell: bash -l {0}
        run: |
          micromamba activate ci-env
          cd ${GITHUB_WORKSPACE}
          python builder.py build explicit $GITHUB_WORKSPACE/recipes/recipes_emscripten/regex  --emscripten-wasm32
