name: Build recipes with changes
on: [push, pull_request]

jobs:

  build_packages:
    runs-on: ubuntu-latest
    env:
      TARGET_PLATFORM: emscripten-32
      GITHUB_OWNER: "emscripten-forge"
      CONDA_EMSDK_DIR: /src/emsdk
    strategy:
      fail-fast: false
      matrix:
        emsdk_ver: ["3.1.2"]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}


      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      ################################################################
      # debug
      ################################################################
      - name: debug
        id: debug
        shell: bash -l {0}
        run: git diff --name-only origin/main HEAD







      ################################################################
      # timestamp
      ################################################################
      - name: generate cache timestamp
        id: cache_timestamp
        shell: bash -l {0}
        run: echo ::set-output name=timestamp::"$(TZ=UTC date +%F)"

      ################################################################
      # CONFIG
      ################################################################
      - name: global config
        shell: bash -l {0}
        run: |
          git config --global advice.detachedHead false
          cp $GITHUB_WORKSPACE/.github/workflows/.condarc $HOME
          cp $GITHUB_WORKSPACE/conda_build_config.yaml $HOME
          mkdir -p $HOME/src/emsdk

      ################################################################
      # MAMBA
      ################################################################
      - name: install mamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: ci_env.yml
          environment-name: ci-env
          micromamba-version: '0.22.0'

      ################################################################
      # POST ENV INSTALL CONFIG
      ################################################################
      - name: post env install config
        shell: bash -l {0}
        run: |
          mkdir -p $HOME/micromamba/envs/ci-env/conda-bld/emscripten-32
          cp $GITHUB_WORKSPACE/.github/workflows/.condarc_post $HOME/.condarc

      
      ################################################################
      # EMSCRIPTEN ITSELF
      ################################################################
      - name: install emsdk
        shell: bash -l {0}
        run: |
          git clone https://github.com/emscripten-core/emsdk.git $HOME/src/emsdk
          pushd $HOME/src/emsdk
          ./emsdk install ${{matrix.emsdk_ver}}
          popd

      ################################################################
      # install / clone custom non-master things
      ################################################################
      - name: "install custom non-master dependencies"
        shell: bash -l {0}
        run: |
          micromamba activate ci-env
          python -m pip install git+https://github.com/emscripten-forge/emboa@main
          python -m pip install git+https://github.com/DerThorsten/boa.git@emscripten_monkeypatch
          python -m pip install git+https://github.com/DerThorsten/bitfurnace.git@emscripten_new
          python -m pip install playwright
          playwright install

      ################################################################
      # build recipes with changes
      ################################################################
      - name: "build packages"
        shell: bash -l {0}
        run: |
          cd ${GITHUB_WORKSPACE}
          export CONDA_EMSDK_DIR=$HOME/src/emsdk
          pushd $CONDA_EMSDK_DIR
          ./emsdk activate ${{matrix.emsdk_ver}}
          source emsdk_env.sh
          export FILE_PACKAGER=$CONDA_EMSDK_DIR/upstream/emscripten/tools/file_packager.py
          popd
          python build_recipes_with_changes.py /home/derthorsten/src/emscripten-forge/recipes/recipes  origin/main HEAD

      
      ################################################################
      # quetz upload packages
      ################################################################
      - name: "quetz upload packages"
        if: github.event_name == 'push'
        shell: bash -l {0}
        run: |
          QUETZ_API_KEY=${{ secrets.QUETZ_API_KEY}} quetz-client --force https://beta.mamba.pm/channels/emscripten-forge ${CONDA_PREFIX}/conda-bld/emscripten-32/*.tar.bz2 || true
          QUETZ_API_KEY=${{ secrets.QUETZ_API_KEY}} quetz-client --force https://beta.mamba.pm/channels/emscripten-forge ${CONDA_PREFIX}/conda-bld/linux-64/*.tar.bz2      || true
          QUETZ_API_KEY=${{ secrets.QUETZ_API_KEY}} quetz-client --force https://beta.mamba.pm/channels/emscripten-forge ${CONDA_PREFIX}/conda-bld/noarch/*.tar.bz2        || true
