name: build recipes
on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:

  build_recipes:
    runs-on: ubuntu-latest
    env:
      TARGET_PLATFORM: emscripten-wasm32
      GITHUB_OWNER: "emscripten-forge"
    strategy:
      fail-fast: false
      matrix:
        emsdk_ver: ["3.1.45"]

    steps:
      ################################################################
      # SETUP
      ################################################################
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Maximize build space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Delete fortran
        run: sudo apt-get remove gfortran -y

      ################################################################
      # CONFIG
      ################################################################
      - name: Global config
        shell: bash -el {0}
        run: git config --global advice.detachedHead false

      ################################################################
      # MAMBA
      ################################################################
      - name: Install micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ci_env.yml
          environment-name: ci
          init-shell: bash
          cache-environment: true
          post-cleanup: 'all'

      ################################################################
      # EMSDK
      ################################################################
      - name: Setup emsdk
        shell: bash -el {0}
        run: |
          ./emsdk/setup_emsdk.sh ${{ matrix.emsdk_ver }} $(pwd)/emsdk_install

      ################################################################
      # POST ENV INSTALL CONFIG
      ################################################################
      - name: Post env install config
        shell: bash -el {0}
        run: |
          cp $GITHUB_WORKSPACE/.github/workflows/.condarc $HOME
          cp $GITHUB_WORKSPACE/conda_build_config.yaml $HOME
          playwright install

      ################################################################
      # Install / clone custom non-master things
      # for pip, we use --no-deps --ignore-installed
      # and make sure that all dependencies are already contained
      # in the conda env named "ci-env"
      ################################################################
      - name: Install custom boa
        shell: bash -el {0}
        run: |
          python -m pip install git+https://github.com/DerThorsten/boa.git@python_api_v2 --no-deps --ignore-installed


      ################################################################
      # Build compiler pkg
      ################################################################
      - name: Build emscripten compiler
        shell: bash -el {0}
        run: |
          FORCE_RATTLER=1 python -m emci build explicit $GITHUB_WORKSPACE/recipes/recipes/emscripten_emscripten-wasm32
      

      ################################################################
      # Build compiler pkg with legacy boa
      ################################################################
      - name: Build emscripten compiler
        shell: bash -el {0}
        run: |
          FORCE_BOA=1 python -m emci build explicit $GITHUB_WORKSPACE/recipes/recipes/emscripten_emscripten-wasm32


      ################################################################
      # PUSH
      ################################################################
      - name: Build recipes with changes PUSH
        shell: bash -el {0}
        if: github.event_name == 'push'
        run: |
          python -m emci build changed $GITHUB_WORKSPACE/ origin/main~1 origin/main

      ################################################################
      # PULL_REQUEST
      ################################################################
      - name: Build recipes with changes PULL_REQUEST
        shell: bash -el {0}
        if: github.event_name == 'pull_request'
        run: |
          python -m emci build changed $GITHUB_WORKSPACE/ origin/main HEAD

      ################################################################
      # UPLOAD
      ################################################################
      - name: Upload packages to Quetz
        if: (github.event_name == 'push' && github.repository == 'emscripten-forge/recipes')
        shell: bash -el {0}
        run: |

          # loop over {emscripten-wasm32, linux-64, noarch}
          for platform in emscripten-wasm32 linux-64 noarch; do
            # loop over all packages
            mkdir -p ${CONDA_PREFIX}/conda-bld/${platform}
            for package in $(ls ${CONDA_PREFIX}/conda-bld/${platform}/*.tar.bz2); do
              echo "Uploading ${package} for  ${platform} (build with boa)"
              QUETZ_API_KEY=${{ secrets.QUETZ_API_KEY}} quetz-client -u https://beta.mamba.pm post_file_to_channel emscripten-forge ${package}
            done
          done

          # loop over {emscripten-wasm32, linux-64, noarch}
          for platform in emscripten-wasm32 linux-64 noarch; do
            mkdir -p ${GITHUB_WORKSPACE}/output/${platform}
            for package in $(ls ${GITHUB_WORKSPACE}/output/${platform}/*.tar.bz2); do
              echo "Uploading ${package} for  ${platform} (build with rattler)"
              QUETZ_API_KEY=${{ secrets.QUETZ_API_KEY}} quetz-client -u https://beta.mamba.pm post_file_to_channel emscripten-forge ${package}
            done
          done