name: Delete package

on:
  workflow_dispatch:
    inputs:
      package_name:
        description: Name of the package to be deleted
        required: true
        default: myBadPackage-9.4.0-py313h6e18b15_0.tar.bz2
      channel_name:
        description: Name of the channel
        required: true
        default: emscripten-forge-4x

jobs:
  delete_package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Install micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-name: delete-pkg-env
          init-shell: bash
          create-args: >-
            python
            requests

      - name: Delete package
        shell: bash -l {0}
        env:
          PREFIX_DEV_API_KEY: ${{ secrets.PREFIX_DEV_API_KEY }}
          PACKAGE_NAME: ${{ github.event.inputs.package_name }}
          CHANNEL_NAME: ${{ github.event.inputs.channel_name }}
        run: |
          python .github/workflows/delete_package.py \
            --token "$PREFIX_DEV_API_KEY" \
            --package "$PACKAGE_NAME" \
            --channel "$CHANNEL_NAME"

